@CHARSET "ISO-8859-1";


body{
	background-color: #0080ff;
}
 .form{
    padding: 50px 0px;
    position: relative;
    margin-top: 30px;
  }
  
  form input {
  outline: 0;
  border: 1px solid rgba(23, 32, 42,0.3);
  background-color: rgba(253, 254, 254,0.0);
  width: 250px;
  border-radius: 7px;
  padding: 8px 15px;
  margin: 10px auto 20px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #000000;
  font-weight: 300;
 
}

select 
{
	outline: 0;
  border: 1px solid rgba(23, 32, 42,0.3);
  background-color: rgba(253, 254, 254,0.0);
  width: 250px;
  border-radius: 7px;
  padding: 8px 15px;
  margin: 10px auto 20px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
	
}
form label{
	color: #000000;
}
form button{
	color: #0080ff;
}

.chaneee{
	margin-left: 520px;
	
	margin-top: -50px;
}
.row{
	margin-left: 610px;
	 
}