<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

 
    <context:component-scan base-package="com.bakeecom.*" />
    
    
    
    
        <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        	<property name="driverClassName" value="org.h2.Driver"/>
            <property name="url" value="jdbc:h2:tcp://localhost/~/test"/>
            <property name="username" value="sa"/>
            <property name="password" value=""/>
        </bean>

<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
<property name="dataSource" ref="dataSource"/>
<property name="packagesToScan">
<list>
<value>com.bakeecom</value>
</list>
</property>
<property name="hibernateProperties">
<props>
<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
<prop key="hibernate.show_sql">true</prop>
<prop key="hibernate.hbm2ddl.auto">update</prop>

</props>
</property>
</bean>    
    
    <tx:annotation-driven/>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="proValid" class="com.bakeecom.validator.ProValid"/>
    <bean id="catValid" class="com.bakeecom.validator.CatValid"/>
    
    
    <bean id="multipartResolver"
    class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

<property name="maxUploadSize" value="10000000000"/>
 </bean>


     <security:http auto-config="true">
        <security:intercept-url pattern="/admin/**" access="permitAll" />
        <!-- <security:intercept-url pattern="/logout" access="permitAll" />
        <security:intercept-url pattern="/accessdenied" access="permitAll" /> -->
        <security:intercept-url pattern="/com.bakeecom/**" access="hasRole({'ROLE_USER','ROLE_ADMIN'})"/>
        <security:form-login login-page="/login" default-target-url="/home1" authentication-failure-url="/login?error"  username-parameter="username"  password-parameter="password" /> 
       <!-- security:intercept-url pattern="///**" access="hasRole({'ROLE_ADMIN'})" />
        <security:form-login login-page="/login" default-target-url="/AdminLandingPage" authentication-failure-url="/login?error"  username-parameter="username"  password-parameter="password" /> -->
        <security:logout logout-success-url="/login?logout" />
 
  <security:csrf disabled="true"/> 
 
    </security:http>
  
    <security:authentication-manager>
        <security:authentication-provider>
           <security:jdbc-user-service data-source-ref="dataSource"
           authorities-by-username-query="SELECT u.name, r.role_username from userbean u,userrole r WHERE u.uid=r.roleid and u.name =?" 
    users-by-username-query="SELECT name,password,enable from userbean WHERE name=?"/>
               </security:authentication-provider>
         </security:authentication-manager>
    
 
</beans>